/* Cozy Bear Color Scheme */
:root {
  --foreground: #eae3d9;
  --background: #181b23;
  --cursor-color: #eae3d9;

  --black: #181b23;
  --dark-grey: #2a2f3a;

  --red: #d36c6c;
  --light-red: #e88383;

  --green: #a8c074;
  --light-green: #b8d084;

  --yellow: #e7a953;
  --light-yellow: #f6c982;

  --blue: #4d8dc4;
  --light-blue: #73a8e6;

  --magenta: #b18bbb;
  --light-magenta: #c6a2d6;

  --cyan: #78b6bc;
  --light-cyan: #8ccfd3;

  --white: #f3eee5;
  --light-white: #f3eee5;

  --border: #2a2f3a;
  --highlight-border: #d36c6c;
}

html {
  font-size: 14px;
  color: var(--foreground);
  background-color: var(--background);
}

.dark-grey {
  background-color: var(--black);
  color: var(--white);
}

.hack h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

a {
  cursor:pointer;
  color: var(--light-blue);
  text-decoration:none;
  border-bottom:1px solid var(--blue);
}
a:hover {
  background-color: var(--blue);
  color:#fff
}

.code-highlight {
  border: 1px solid var(--border) !important;
  padding: 1em !important;
}

.logo {
  color: var(--white);
  border: none;
  font-size: 1.2em;
}

.logo::after {
  content: "|";
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite;
}

.hidden-input {
  border: none;
  background: transparent;
  color: var(--white);
  caret-color: transparent;
  font-size: 1em;
  position: relative;
}

.hidden-input:focus {
  outline: none;
}

@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.container {
  max-width: 50rem;
}

.yt-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border: 1px solid var(--border) !important;
}

.yt-video-container iframe,
.yt-video-container object,
.yt-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article img {
  max-inline-size: 100%;
  block-size: auto;
  border: 1px solid var(--border) !important;
}

#wcb.carbonbadge {
  font-size: 11px !important;
  text-align: left !important;
  color: var(--black) !important;
}

#wcb_g {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
  color: var(--black) !important;
}

#wcb_a {
  color: var(--black) !important;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
}

#wcb.wcb-d #wcb_a {
  background: var(--highlight-border) !important;
  border-color: var(--highlight-border) !important;
}

#wcb_g {
  border: 0.13em solid var(--highlight-border) !important;
}

.termx-open {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#termx {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  height: 350px;
  background: var(--black);
  overflow-y: auto;
}

.resize-notch {
  width: 100px;
  height: 2px;
  background-color: var(--dark-grey);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
  border-radius: 20px;
  margin: 6px;
}

.cloud-shell-title {
  margin: 0 !important;
  text-align: left;
}

#termx .card-header {
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  width: 100%;
  background: var(--black);
}

#termx .card-content {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}

#termx-results {
  white-space: pre-wrap;
  margin-top: 10px;
}

#termx .user {
  color: var(--green);
  font-weight: bold;
}

#termx .path {
  margin-right: 5px;
  margin-left: 5px;
  color: var(--blue);
}

#terminal-input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: var(--white); /* Text color */
  font-family: inherit;
  font-size: inherit;
  margin-right: 5px;
}

.exec {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 10px;
}

.exec .cmd {
  white-space: pre-wrap;
  flex-basis: 100%;
}

.exec .result {
  flex-basis: 100%;
}
